<h1>Edición de propiedades</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Listar Propiedades', propiedades_path %>
=======
<%= link_to 'Show', @propiedad %> |
<%= link_to 'Back', propiedades_path %>
>>>>>>> 9b1d472ce5ca41fa2bdeca7a84a77f3fad8310e8
