<h1>Nueva propiedad</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Listar propiedades', propiedades_path %>
=======
<%= link_to 'Back', propiedades_path %>
>>>>>>> 9b1d472ce5ca41fa2bdeca7a84a77f3fad8310e8
