<h1>Listing familias_propiedad</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @familias_propiedades.each do |familia_propiedad| %>
      <tr>
        <td><%= link_to 'Show', familia_propiedad %></td>
        <td><%= link_to 'Edit', edit_familia_propiedad_path(familia_propiedad) %></td>
        <td><%= link_to 'Destroy', familia_propiedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Familia propiedad', new_familia_propiedad_path %>
